*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  background: #607d8b;
}

.canvas {
  position: relative;
  padding-top: 62.5%;
  margin-right: 10%;
}

.dog {
  position: absolute;
  width: 54%;
  height: 70%;
  top: 20%;
  left: 33%;
  background: #f9f8fb;
  border-radius: 46.5%;
  box-shadow: 0 4px 8px rgb(0 0 0 / 85%);
  z-index: 1;
}

.eye-right {
  position: absolute;
  width: 10%;
  height: 12%;
  top: 40%;
  right: 30%;
  background: #789dab;
  border-radius: 50%;
  animation: blink 5s infinite;
}
.eye-left {
  position: absolute;
  width: 10%;
  height: 12%;
  top: 40%;
  left: 30%;
  background: #789dab;
  border-radius: 50%;
  animation: blink 5s infinite;
}
.pupil {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 22%;
  left: 15%;
  background: #f9f8fb;
  border-radius: 50%;
}
.eye-spot-left {
  position: absolute;
  width: 22%;
  height: 20%;
  top: 36%;
  left: 24%;
  background: #38393e;
  border-radius: 45% 45% 50% 50%;
}
.eye-spot-right {
  position: absolute;
  width: 23%;
  height: 33%;
  top: 30%;
  left: 54.5%;
  background: #38393e;
  border-radius: 45% 45% 50% 37%;
  transform: rotate(-12deg);
}
.snout-left {
  position: absolute;
  width: 25%;
  height: 30%;
  background: #f9f8fb;
  border-radius: 0% 0% 50% 40%;
  top: 75%;
  left: 28%;
  z-index: 3;
  border-bottom: 1px solid #d2d3d6;
}
.snout-right {
  position: absolute;
  width: 25%;
  height: 30%;
  background: #f9f8fb;
  border-radius: 0% 0% 40% 50%;
  top: 75%;
  right: 28%;
  z-index: 4;
  border-bottom: 1px solid #d2d3d6;
}
.nose {
  position: absolute;
  width: 22%;
  height: 15%;
  left: 38.5%;
  top: 80%;
  background: #38393e;
  border-radius: 45% 45% 50% 50%;
  z-index: 5;
}
.nose::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  top: 44%;
  background: #38393e;
  border-radius: 50%;
  z-index: 6;
  left: 0%;
  transform: rotate(35deg);
}
.nose::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  top: 44%;
  background: #38393e;
  border-radius: 50%;
  z-index: 6;
  right: 0%;
  transform: rotate(-35deg);
}
.nose .nostril:nth-of-type(1) {
  position: absolute;
  width: 30%;
  height: 60%;
  background: #313236;
  border-radius: 50%;
  top: 15%;
  z-index: 7;
  left: 18%;
}
.nose .nostril:nth-of-type(2) {
  position: absolute;
  width: 30%;
  height: 60%;
  background: #313236;
  border-radius: 50%;
  top: 15%;
  z-index: 7;
  right: 18%;
}
.lower-lip {
  position: absolute;
  width: 25%;
  height: 20%;
  top: 86%;
  left: 37.5%;
  background: #f9f8fb;
  border-radius: 50%;
  z-index: 2;
}
.lower-lip .lower-lip-pink {
  position: absolute;
  width: 45%;
  height: 80%;
  top: 8%;
  left: 25%;
  border-radius: 50%;
  background: #f7e6e6;
  box-shadow: 2px 2px 4px #f7e6e6;
}
.ear-left {
  position: absolute;
  width: 32%;
  height: 68%;
  top: 0;
  left: -6%;
  background: #38393e;
  transform: rotate(5deg);
  border-radius: 42% 15% 92% 18%;
  z-index: 2;
  box-shadow: 0 2px 5px rgb(0 0 0);
}
.ear-right {
  position: absolute;
  width: 32%;
  height: 68%;
  top: 0;
  right: -6%;
  background: #38393e;
  transform: rotate(-5deg);
  border-radius: 15% 42% 18% 92%;
  z-index: 2;
  box-shadow: 0 2px 5px rgb(0 0 0);
}

.body {
  width: 80%;
  height: 80%;
  position: relative;
  top: 85%;
  background-color: #f9f8fb;
  border-radius: 50% 30% 0 15%;
  z-index: 1;
  box-shadow: 1px 5px 4px rgb(82 82 82);
}
.body:before {
  content: "";
  width: 70%;
  height: 80%;
  position: absolute;
  top: 20%;
  left: 18%;
  background-color: #38393e;
  border-radius: 50% 50% 0 0;
}

.foot {
  background-color: #f9f8fb;
  width: 25%;
  height: 22%;
  border-radius: 50% 50% 0 0;
}

.foot-left {
  position: absolute;
  top: 78%;
  left: 25%;
}

.foot-right {
  position: absolute;
  top: 78%;
  left: 58%;
}

.tail {
  width: 10%;
  height: 52%;
  background-color: #f9f8fb;
  box-shadow: 1px 5px 4px rgb(82 82 82);
  transform: rotate(-40deg);
  border-radius: 47% 47% 0;
  animation: wag 0.1s infinite alternate;
}

@keyframes wag {
  0% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}

@keyframes blink {
  0%,
  100% {
    transform: scale(1, 0.05);
  }
  5%,
  95% {
    transform: scale(1, 1);
  }
}

/* .cursor {
    position: absolute;
    height: 23px;
    width: 23px;
    border: none;
    border-radius: 50%;
    background: #b40660;
    transform: translateX(-50%) translateY(-50%);
    z-index: 4000;
} */
