.dogBox {
  background-color: transparent;
  border: 2px solid #5f807f;
  border-radius: 5%;
  padding-bottom: 110px;
}

.dattributes {
  padding: 25px;
  background-color: transparent;
  border: 2px solid #5f807f;
  border-radius: 5%;
}

.doggy {
  margin-top: 4vh;
}

.dnaDiv {
  position: absolute;
  left: 20px;
  bottom: 5px;
}

.form-control-range {
  -webkit-appearance: none;
  background: #5f807f;
  outline: none;
  border-radius: 15px;
  padding: 2px;
  overflow: hidden;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

.form-control-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid transparent;
  box-sizing: border-box;
  background: linear-gradient(#5f807f, rgba(245, 245, 245, 0.795)) padding-box,
    linear-gradient(#fbfbfbcc, #c2c2c2) border-box;
}
